{{template "base/base.html" .}}

{{define "head"}}
  <title>Rationing System</title>
{{end}}

{{define "body"}}
    <h3>Inventory</h3>
    <p class="float-right">Total Items : {{len .ration }}</p>
    <table class="table">
    <thead>
	      <tr>
	        <th>Packet Id</th>
	        <th>Packet Type</th>
	        <th>Packet Content</th>
	        <th>Calories</th>
	        <th>Expiry Date</th>
	        <th>Quantity (ltr)</th>
	        <th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{range $key, $val := .ration}}
	        <tr>
	          <td>{{if eq $val.PacketType "food"}}F{{$val.Id}} {{else}} W{{$val.Id}} {{end}}</td>
	          <td>{{$val.PacketType}}</td>
	          <td>{{if ne $val.PacketContent ""}}{{$val.PacketContent}} {{else}} - {{end}}</td>
	          <td>{{if ne $val.Calories 0}} {{$val.Calories}} {{else}} - {{end}}</td>
	          <td>{{if ne ($val.ExpiryDate.Format "2006-01-02") "0001-01-01"}}{{$val.ExpiryDate.Format "2006-01-02"}} {{else}} - {{end}}</td>
	          <td>{{if ne $val.Quantity 0}}{{$val.Quantity}}{{else}} - {{end}}</td>
	          <td>
	            <a href='/ration/view/{{$val.Id}}' ><button type="button" class="btn btn-primary">View</button></a>&nbsp;&nbsp;
	            <a href='/ration/delete/{{$val.Id}}' ><button type="button" class="btn btn-primary">Delete</button></a>
	          </td>
	        </tr>
	      {{end}}
	    </tbody>
	  </table>
{{end}}